<html>
{{template "header.tmpl.html"}}

<body>
    <script>
        //definition of host object and properties
        function Host(statusObj, pos)
        {
            this.status = statusObj.status;
            this.task = statusObj.running_task;
            this.provider = statusObj.host_type;
            this.instanceType = statusObj.instance_type;
            this.host_id = statusObj["id"];
            this.pos = createVector(0, 0, 0);
        }
        Host.prototype.update = function(data)
        {
            this.status = data.status;
            this.task = data.running_task;
            this.provider = data.host_type;
            this.instanceType = data.instance_type;
            return this;
        }

        Host.prototype.render = function(pos)
        {
            thisColor = this.status_colors[this.status];
            fill(thisColor);
            ellipse(this.pos.x,
                this.pos.y, hostRadius, hostRadius);
            if (this.task != "")
            {
                fill(color(255, 255, 255));
                ellipse(this.pos.x + 3 * Math.cos((frames % 10000) / 10),
                    this.pos.y + 3 * Math.sin((frames % 10000) / 10),
                    hostRadius /
                    3,
                    hostRadius / 3);
            }

        }

        function createStatusMap()
        {
            Host.prototype.status_colors = {
                "running": color(0, 204, 0),
                "terminated": color(204, 0, 0),
                "decommissioned": color(138, 43, 226),
                "provisioning": color(255, 255, 0),
                "unreachable": color(0, 0, 0),
                "quarantined": color(155, 155, 155),
                "starting": color(255, 255, 153)
            };
        }

         //definition of visual region and properties

        function HostRegion(pos, region)
        {
            this.region = region;
            //pos defines the top left pixel of this visual region
            this.pos = pos;
            this.hosts = {};
            this.index = 0;
        }

        HostRegion.prototype.addHost = function(host)
        {
            var hostPos = createVector((this.index * .8 + 70) * Math.cos(
                    this.index / 2.0), (this.index * .8 + 70) *
                Math.sin(this.index / 2.0), 0);
            hostPos.add(this.pos);
            host.pos = hostPos;
            this.hosts[host.host_id] = host;
            this.index++;
        }

        HostRegion.prototype.render = function()
        {
            fill(color(0, 0, 0));
            textSize(32);
            text(this.region, this.pos.x - 45, this.pos.y + 350);
            for (host_id in this.hosts)
            {
                this.hosts[host_id].render();
            }
        }

        function newHostRegions()
        {
            var newHostRegions = {};
            newHostRegions["static"] = new HostRegion(
                createVector(windowWidth / 6,
                    windowHeight / 2,
                    0),
                "static");
            newHostRegions["ec2-spot"] = new HostRegion(
                createVector(windowWidth / 2,
                    windowHeight / 2,
                    0),
                "ec2-spot");
            newHostRegions["ec2"] = new HostRegion(createVector(
                    windowWidth - windowWidth / 6, windowHeight / 2,
                    0),
                "ec2");
            return newHostRegions;
        }

        var hostRadius = 18;
        var frames;
        var hostRegions;
        var json;

        function preload()
        {
            json = loadJSON("/data");
        }

        function setup()
        {
            setTimeout(function() {}, 2000);
            createStatusMap();
            createCanvas(windowWidth, windowHeight);
            noStroke();
            frames = 1;
            setData(json);
        }

        function draw()
        {
            frames++;
            if (frames % 500 == 0)
            {
                loadJSON("/data", setData);
            }
            for (region in hostRegions)
            {
                if (hostRegions[region] != null)
                {
                    hostRegions[region].render();
                }
            }
        }

        function setData(jsonData)
        {
            var newHR = newHostRegions();
            if (hostRegions != null)
            {
                newHR.index = hostRegions.index;
            }
            else
            {
                hostRegions = newHR;
            }

            for (i = 0; i < jsonData.length; i++)
            {
                var host = hostRegions[jsonData[i].host_type].hosts[
                    jsonData[i]["id"]];
                if (host == null)
                {
                    host = new Host(jsonData[i]);
                    newHR[jsonData[i].host_type].addHost(
                        host);
                }
                else
                {
                    host.update(jsonData[i]);
                    newHR[jsonData[i].host_type].
                    hosts[jsonData[i]["id"]] = host;
                }
            }
            hostRegions = newHR;
        }
    </script>
</body>

</html>
